{% load static %}
{% get_static_prefix as STATIC_PREFIX %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>{% block title %}FoodBase by EatersFund{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Le styles -->
    <link href="{{ STATIC_PREFIX }}css/bootstrap.css" rel="stylesheet" >
    <style type="text/css">
      body {
        padding-top: 60px;
        padding-bottom: 40px;
      }
    </style>
    <link href="{{ STATIC_PREFIX }}css/bootstrap-responsive.css" rel="stylesheet" >

  </head>

  <body marginwidth="0" marginheight="0" leftmargin="0" 
topmargin="0">

 {% block nav %}
<div class ="need_padding" >
  <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="brand" href="/users">FoodBase</a>
          <div class="nav-collapse collapse">
           
            <ul class="nav">
              <li class=""><a href="/users">Home</a></li>
              
              <li><a href="{% url 'createAccount'%}">Register</a></li>
              <li>{% block nav-browse %}<a href="{% url 'restaurantList'%}">Browse Restaurants</a>{% endblock %}
</li>
              <li>{% block nav-profile %}<a href="{% url 'profile'%}">My Profile</a>{% endblock %}
</li>
              <li>{% block nav-search %}<a href="{% url 'rateSearch'%}">Search</a>{% endblock %}
</li>
              <li><a href="https://wiki.engr.illinois.edu/display/cs411sp13/EatersFund">About</a></li>
              <li><a href="https://wiki.engr.illinois.edu/display/cs411sp13/EatersFund">Contact</a></li>

            </ul>

            

          </div>
        </div>
      </div>
    </div>
</div>

{% endblock %}





    <div class="container" id="content" color="red">

      

        {% block content %}

        {% endblock %}
      

      <footer>
        <p>&copy; EatersFund 2013</p>
      </footer>

    </div> 

  </body>
</html>

