
{% extends "base.html" %}
{% block title %}Welcome to Foodbase! {% endblock %}

<body>
<h1>Add a Restaurant</h1>
</body>


{% block content %}

<div class="box">
        <h1>Hello, Eaters!</h1>
        <p>Our project will be providing a platform for food hunters to get restaurant recommendations based on their previous experience, bookmarked places, restaurants' ratings, location and personal food constraints. Users can also search for restaurants of their own specifications manually. One more feature of our great FoodBase is helping you invite and find your food buddies and you are not enjoying food alone!
</p>
        <p><a href="https://wiki.engr.illinois.edu/display/cs411sp13/EatersFund" class="btn btn-primary btn-large">Learn more &raquo;</a></p>
</div>



{% endblock %}
