
{% extends "base.html" %}
{% block title %}Add a Favorite Restaurant{% endblock %}


{% block nav-profile %}<li class="active"><a href="{% url 'profile'%}">My Profile</a></li>{% endblock %}

{% block content %}



<div class="box-table" align=center>
 <table align='center' class="box">
 <tr>
    <th colspan="3">Visted Restaurants</th>
</tr>
<tr>
	<th style="padding:15px;">Name</th>
	<th style="padding:15px;">Category</th>
	<th style="padding:15px;">Rating</th>
</tr>
{% for r in fav_rest_list %}
<tr>
	<td style="padding:15px;">{{ r.restaurantName }}</td>
	<td style="padding:15px;">{{ r.category }}</td>
	<td style="padding:15px;">{{ r.averageRating }}</td>
</tr>
{% endfor %}
</table>
</div>

<div class="box-table" align=center>
  <table align='center' class="box">
 <tr>
    <th colspan="3"> Bookmarked Restaurant</th>
</tr>
<tr>
	<th style="padding:15px;">Name</th>
	<th style="padding:15px;">Category</th>
	<th style="padding:15px;">Rating</th>
</tr>

{% for r in bm_rest_list %}
<tr>
	<td style="padding:15px;">{{ r.restaurantName }}</td>
	<td style="padding:15px;">{{ r.category }}</td>
	<td style="padding:15px;">{{ r.averageRating }}</td>
</tr>
{% endfor %}
</table>
</div>


<div class="cent"><a href="{% url 'recommend'%}"> <input type="submit" name="gotoRec" value="go to Recommended Restaurant" class="btn" style="padding:20px;" /> </a></div>

{% endblock %}
