
{% extends "base.html" %}
{% block content %}



{% for r in obj %}

<div class="result-item" align="center"  class="box">

	<a href="../restaurantProfile/{{r.id}}"><img src="{{r.image}}" onError = "{{ STATIC_PREFIX }}/img/ad.jpg" height="200" width="200"/></a>
		<p>{{ r.restaurantName }}</p>
		<p>{{ r.category }}</p>
		<p>{{ r.averageRating }}</p>
		
		<div><a href="./?page={{prevpage}}"><input type="submit" value="PrevPage" class="btn"></a></div>
	<div><a href="./?page={{nextpage}}"><input type="submit" value="NextPage" class="btn"></a></div>

</div>
{% endfor %}






{% endblock %}


