
{% extends "base.html" %}



{% block nav-browse %}<li class="active"><a href="{% url 'restaurantList'%}">Browse Restaurants</a></li>{% endblock %}

{% block content %}


{% for r in obj %}

<div class="result-item" align="center"  class="box">
<div class="box">
	<a href="../restaurantProfile/{{r.id}}"><img src="{{r.image}}" onError = "{{ STATIC_PREFIX }}/img/ad.jpg" height="200" width="200"/></a>
		<p>{{ r.restaurantName }}</p>
		<p>{{ r.category }}</p>
		<p>{{ r.averageRating }}</p>
</div>

</div>
{% endfor %}


	<div align="center"><a href="./?page={{prevpage}}"><input type="submit" value="PrevPage" class="btn"></a></div>
	<div align="center"><a href="./?page={{nextpage}}"><input type="submit" value="NextPage" class="btn"></a></div>

{% endblock %}


