
{% extends "base.html" %}



{% block nav-search %}<li class="active"><a href="{% url 'rateSearch'%}">Search</a></li>{% endblock %}



{% block content %}
		
<form action="." method="post">
{% csrf_token %}
		 <fieldset>
		<legend> Search the score you desire for the restaurant!</legend>
		

		
	<div class='searchbar'>

		<div class='concat'>
		<input id='inputSearch' placeholder='Search...'/>
		</div>
		
		<div class='concat'>
			<label for='restName'>Restaurant Name</label>
		</div>
		<input class='fuse-checkbox' id='restName' type='checkbox' />
		
		<div class='concat'>
			<label for='ranking'>Ranking</label>
		</div>
		<input class='fuse-checkbox' id='ranking' type='checkbox' />
		
	</div>	

	<div id='results' align='center' class='box'>
	</div>
	
		<!--
		<div style="text-align:center">
        <input type="text" placeholder="Check it out!" name="keyword" value="" class="btn"/>
		<input type="submit" value="Search" class="btn" class="btn" />
		</div>
		-->
		</fieldset>
</form>

		<script script type="text/javascript" src="{{ STATIC_PREFIX }}js/jqtime.js"></script>  <!-- min library -->
		<script script type="text/javascript" src="{{ STATIC_PREFIX }}js/fuse.js"></script>
		<script script type="text/javascript" src="{{ STATIC_PREFIX }}js/run.js"></script>
		
{% endblock %}