{% extends "base.html" %} 


{% block nav-register%}<li class="active"><a href="{% url 'createAccount'%}">Register</a></li>{% endblock %}


{% block content%}
	
	
<form action="." method="POST"  class="box"> 
  {% csrf_token %}
  <p></p>
  
  <fieldset style="text-align:center">
  <legend> Sign Up </legend>
  
  <table align="center";> 
    {{ form.as_table }} 
  </table>
  
  <div><input type="submit" value="Submit" class="btn"></div>

  </fieldset>
  </form>
{% endblock %}